/* inter-latin-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/inter/files/inter-latin-400-normal.woff2) format('woff2');
}

/* inter-latin-500-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/inter/files/inter-latin-500-normal.woff2) format('woff2');
}

/* inter-latin-600-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(@fontsource/inter/files/inter-latin-600-normal.woff2) format('woff2');
}

/* inter-latin-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/inter/files/inter-latin-700-normal.woff2) format('woff2');
}

/* inter-latin-ext-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/inter/files/inter-latin-ext-400-normal.woff2) format('woff2');
}

/* inter-latin-ext-500-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/inter/files/inter-latin-ext-500-normal.woff2) format('woff2');
}

/* inter-latin-ext-600-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(@fontsource/inter/files/inter-latin-ext-600-normal.woff2) format('woff2');
}

/* inter-latin-ext-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/inter/files/inter-latin-ext-700-normal.woff2) format('woff2');
}

/* inter-greek-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/inter/files/inter-greek-400-normal.woff2) format('woff2');
}

/* inter-greek-500-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/inter/files/inter-greek-500-normal.woff2) format('woff2');
}

/* inter-greek-600-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(@fontsource/inter/files/inter-greek-600-normal.woff2) format('woff2');
}

/* inter-greek-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/inter/files/inter-greek-700-normal.woff2) format('woff2');
}
